[submodule "latency_monitoring/microservices-demo"]
    url = https://github.com/fruffy/microservices-demo
    path = latency_monitoring/microservices-demo
[submodule "latency_monitoring/wasm"]
    url = https://github.com/fruffy/wasm
    path = latency_monitoring/wasm
