[package]
name = "dyntracing"
version = "0.1.0"
authors = ["Anirudh Sivaraman <sk.anirudh@gmail.com>"]

[dependencies]
regex = "0.2.2"
lazy_static = "0.2.11"
handlebars = "0.32.4"
serde_json = "1.0.0"
